@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>@email</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; } = null!;

    [Inject]
    private ILocalStorageService localStorage { get; set; } = null!;

    [Inject]
    private NavigationManager navigationManager { get; set; } = null!;

    private string email = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authStateTask = await authState;
        var user = authStateTask.User;
        if (user.Identity!.IsAuthenticated)
        {
            email = (await localStorage.GetItemAsStringAsync("email"))!;
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }
}